<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>To Do LIst</title>
  </head>
  <body>
    <main>
      <container>

        <div class="sticky">
          <a href="/"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
        
        <table>
          <tr>
            <th>PRODUTO</th>
            <th>CÓDIGO</th>
            <th>FETES</th>
            
          </tr>
          </table>
          
<a href="#" role="button" onClick="copyIpPublisher()" ><span id="ip_publisher">TRTRTRTR</span></a>

    </main>
    <script src="/reload/reload.js"></script>
    <script src="script.js"></script>
  </body>
</html>
