@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --corFundoPrincipal: #2e2e2e;
  --corFundoSegTom: #ffffff00;
  --corFundoTerTom: #ffffff10;
  --corMouseHover: #ffffff34;
  --corBranca: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", Roboto, sans-serif;
  font-weight: 400;
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--corFundoPrincipal);
  color: var(--corBranca);
}

main {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

th {
  background-color: var(--corFundoSegTom);
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  padding-inline: 0.8rem;
  text-align: center;
  align-items: center;
  height: 2rem;
}

.titleProduto {
  min-width: 8rem;
}

.titleCodFete {
  width: 2rem;
}

.titleConj,
.titleFixa,
.titlePneu,
.titleSimples,
.titleDupla,
.titleOleo {
  width: 1rem;
}

@media only screen and (max-width: 600px) {
  body {
    justify-content: flex-start;
    zoom: 100%;
  }
}

td {
  font-size: 12pt;
  text-align: center;
  background-color: var(--corFundoSegTom);
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  padding-inline: 0;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #005499d3;
}

@keyframes btn-pisca {
  10% {
    text-shadow: 0 0 10px #fdfdfd;
  }
  25% {
    text-shadow: 0 0 15px #fdfdfd;
  }
  50% {
    text-shadow: 0 0 20px #fdfdfd;
  }
  75% {
    text-shadow: 0 0 25px #fdfdfd;
  }
  100% {
    text-shadow: 0 0 30px #fdfdfd;
  }
}

a:visited {
  color: var(--corFundoPrincipal);
}

.btn-confirm a {
  color: #fdfdfd;
  font-size: 2rem;
}

#novaFETE {
  color: #fdfdfd7c !important;
  font-weight: 800;
}

.linha-corpo:nth-child(even){
  background-color: var(--corFundoTerTom);
}

.linha-corpo:hover {
  background-color: var(--corMouseHover);
}

td input {
  background-color: transparent;
  text-align: center;
  border: none;
  color: #fdfdfd;
  width: 100%;
  min-height: 18px;
  overflow: visible;
}

td span,
button {
  color: transparent;
  background-color: transparent;
  border: none;
  transition: color 0.8s ease-in;
}

td span:hover,
button:hover {
  text-shadow: 0 0 20px #fdfdfd;
  zoom: 1.02;
}

.btn-search {
  color: #fff !important;
  font-size: 1rem;
  animation: btn-pisca 8s infinite;
}

.btn-edit-check a {
  color: transparent;
}

.test {
  animation: btn-pisca 2.2s infinite;
  color: white !important;
}

.topo {
  display: flex;
  justify-content: right;
  background-color: #005499d3;
  width: 100%;
}

.topo div{
  padding: 1.2rem 1.2rem 0 0 ;  
}

